NODE_ENV=development
PORT=3000

# Postgres (desarrollo / producción)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bodega_db
DB_USER=bodega_user
DB_PASSWORD=bodega_pass

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200

CORS_ORIGIN=http://localhost:5173
